.tabs {
  display: flex;
  flex-grow:1;
  flex-wrap: wrap; /* 它可能取三个值。nowrap | wrap | wrap-reverse;详情打开网页“http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html” */
}
.tabs label {
  order: 1; /* Put the labels first*/
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:   #81C0C0;/* 框的颜色*/
  font-weight: 700;
  font-size: 1.25rem;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; /* Put the tabs last */
  flex-grow: 1;/*属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。如果所有项目的flex-grow属性都为1，则它们将等分剩余空间（如果有的话）。如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍。*/
  width: 100%;
  display: none;
  padding: 1rem;
  background:     #408080; /*打开框的颜色*/
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  font-color:#ffffff;
  background:  #408080;/* 选中框的颜色*/
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 360px) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
	.tableauPlaceholder{
		weight:100%;
	}
  }
}

/**
 * Generic Styling
*/
body {
  background: #eee;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  font-color:#ffffff;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
  background-color: : #A6FFA6;
}

.no_wrap {

  text-align:center;
  font-size: 1.5em;
  color:  #003E3E;
}
.link {
  text-align:center;
  color:  #003E3E;
}

