* {
	box-sizing: border-box;
}

body {
	padding: 1rem .5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 53px auto;
	color: #333;
}

img {
	max-width: 100%;
}

.Header {
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.Strap {
	font-size: 1rem;
}


.MoneyShot {
	position: relative;
}

.MoneyShotImg {
	border: 6px solid #e8cfa9;
	border-radius: 4px;
	float:right
}

.LogoWrapper {
	display: block;
}

.ImageCaption {
	font-size: .75rem;
	position: absolute;
	bottom: .5rem;
	right: 1rem;
	
}

.IntroText {
	font-size: 0.5rem;
	font-style: italic;
}

.MethodWrapper li {
	padding: .4rem 0;
}

.MethodWrapper li:after {
	content: "✼";
	display: block;
	text-align: center;
	margin: 10rem 0 -10.5rem 0;
	color: #eee;
}

@media screen and (min-width: 50rem) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

	.IntroWrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.MoneyShot,
	.IntroText {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}

	.IntroText {
		padding: .5rem;
		font-size: 1.5rem;
		text-align: left;
		position: relative;
	}

	.newone {
		font-size: .9rem;
		float: left;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}

	.newone h1 {
		margin: 0;
	}
	
	.newtwo {
		font-size: .9rem;
		float: left;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}
	
	.newthree {
		font-size: .9rem;
		float: right;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}

	

	
	.newfour {
		font-size: .9rem;
		float: left;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}
	
	.newfive {
		font-size: .9rem;
		float: left;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}

	.newfive h3 {
		margin: 0;
	}
	
	.newsix {
		font-size: .9rem;
		float: left;
		padding: 1rem;
		margin: 0 0 .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}

	.newsix h4 {
		margin: 0;
	}
	
	.newseven {
		font-size: .9rem;
		clear: left;
		padding: 1rem;
		margin: 0 750px .5rem 1rem;
		border-radius: 3px;
		background-color: #5fc1e4;
		border: 2px solid #e8cfa9;
	}

	.newseven h5 {
		margin: 0;
	}
}
