body {
  font-family: Arial;/*字体*/
   color: #333;/*字体颜色*/
  font-size: 0.7rem;/* 字体大小*/
  line-height: 3;/*行高*/
}
/*以下设定section元素的属性*/
section {
  display: -webkit-flex;/*伸缩盒模型中的伸缩容器，没搞懂。*/
  display: flex;
  -webkit-flex-wrap: wrap;/*  控制伸缩容器可以创建多行,新增的伸缩行根据侧轴的方向添加*/
  flex-wrap: wrap;
}

/*以下设定label元素的属性*/
label {
  background:  #DCB5FF; /**/
  border: 1px solid #ddd; 
  padding: .7em 1em;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
}
label:first-of-type {
  margin-left: 0;
}
div {
  width: 100%;/*元素的宽度*/
  border: 1px solid #ddd;/**/
  -webkit-order: 1;/**/
  order: 1;/**/
}
input[type=radio], div {
  display: none;
}
input[type=radio]:checked + label {
  background:   #BE77FF;/* 点击选框后颜色变化*/
  
}
input[type=radio]:checked + label + div {
  display: block;
  font-size: 0.7rem;
}
.tab-three-p{
  font-size: 1em
}